extends layout

block content
    .container
      .row
       .col-sm-6.col-sm-offset-3
           .panel.panel-info
               .panel-heading
                    h1=title
               .panel-body
                    p #{content}
                    if imageURL == undefined
                    else
                     img.img-responsive(src='#{imageURL}', style='height: 200px; width:400px')
               .panel-footer
                    if pageURL != undefined
                     a(href='#{pageURL}', target='_blank') View Original Page
