extends layout

block content
  h1= title
  p #{content}
  if imageURL == undefined
  else
   img(src='#{imageURL}')
  if pageURL != undefined
   a(href='#{pageURL}', target='_blank') View Original Page