doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      history.replaceState('data to be passed', 'NoteMaker', '#{pageURL}');
      
  body
    block content
